<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hacker News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hacker News</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card *ngFor="let article of articleSummaries">
      <ion-card-title><a href="{{article.url}}">{{article.title}}</a></ion-card-title>
      <ion-card-subtitle>{{article.time * 1000 | date: "dd-MM-yyyy"}}</ion-card-subtitle>
    </ion-card>
  </div>
</ion-content>
